*,
*:before,
*:after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #000;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
  margin: 0;
  user-select: none;
  font-size: 1em;
  animation: 500ms ease-out 700ms 1 backwards fadeIn;
  will-change: opacity;
}

video,
canvas,
img {
  max-width: 100%;
  max-height: 100%;
}

a {
  position: relative;
  z-index: 0;
  color: inherit;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    z-index: -1;
    background: currentColor;
    transform-origin: 0 80%;
    transition: transform 300ms ease-in-out,
      opacity 300ms ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      transform: scaleY(5);
      opacity: 0.5;
    }
  }
}

canvas {
  position: relative;
  cursor: crosshair;
  touch-action: none;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &:fullscreen {
    & ~ aside,
    & ~ #fallback { visibility: hidden; }
  }
}

.idle canvas { cursor: none; }

.hide { display: none; }

aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 35em;
  max-height: 50%;
  font-family: sans-serif;
  color: #fff;
  /* opacity: 0.5; */
  transition: opacity 1500ms ease-out;
  will-change: opacity;

  @media (any-hover: none) { opacity: 1; }

  &.show,
  &:hover,
  &:focus,
  &:focus-within {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
}

header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3em;
  margin: 0.25em 0;
  font-size: 1.2em;
}

section {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0.25em 0.5em;
}

br {
  display: block;
  content: '';
}

p {
  display: inline;
  line-height: 2.2em;
  margin: 0;
  padding: 0.5em;
  border: 0px solid transparent;
  border-radius: 0.3em;
  background-color: #333;
  box-decoration-break: clone;
}

.error {
  font-weight: 900;
  color: #fff;
  background-color: #f30;
}

.link {
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0;
  padding: 0.3em 0.6em;
  line-height: 1.7em;
  font-style: normal;
  font-weight: 900;
  color: inherit;
  background: #000b;
  text-align: center;
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 0.3em;
  transition: color 1500ms ease-out,
    background-color 1500ms ease-out;
  will-change: color, background-color;

  &:hover,
  &:focus {
    color: #000e;
    background-color: #fff;
    transition: color 100ms ease-in,
      background-color 100ms ease-in;
  }

  &:active,
  &:target {
    color: #000;
    background-color: #fffa;
  }

  &::after { display: none; }
}

.link-tweak { border-style: dashed; }

.title,
.link-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5em 0.5em 0.6em 0.5em;
  margin: 0;
  box-shadow: 0 0 0.5em 0 #000;
}

.title {
  height: 2.8em;
  font-weight: 900;
  font-family: monospace;
  color: #333;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 2px 3em 3em 2px;
  z-index: 1;
}

.link-icon {
  height: 2.3em;
  aspect-ratio: 1 / 1;
  font-family: monospace;
  border-radius: 2em;
}

[for="flip-guide"] {
  outline-offset: -3px;
  cursor: sw-resize;
}

#flip-guide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;

  &:focus + header > [for="flip-guide"] { outline: 2px solid #33f; }

  &:not(:checked) {
    & + header > [for="flip-guide"] { cursor: ne-resize; }

    & ~ section { display: none; }
  }
}

#fallback {
  display: none;

  &[src] {
    display: block;
    position: relative;
    width: 100%;
    height: 720px;
    margin: auto;
  }
}
