*,
*:before,
*:after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #000;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
  margin: 0;
  user-select: none;
  font-size: 1em;
  animation: 500ms ease-out 700ms 1 backwards fadeIn;
  will-change: opacity;
}

video,
canvas,
img {
  max-width: 100%;
  max-height: 100%;
}

a {
  position: relative;
  z-index: 0;
  color: inherit;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    z-index: -1;
    background: currentColor;
    transform-origin: bottom;
    transition: transform 300ms ease-in-out,
      opacity 300ms ease-in-out,
      filter 300ms ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      transform: scaleY(10);
      opacity: 0.5;
      filter: invert(1);
      filter: invert(100%);
    }
  }
}

canvas {
  position: relative;
  background-color: #000;
  cursor: pointer;
  touch-action: none;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.hide { display: none; }

aside {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 35em;
  max-height: 50%;
  overflow-y: auto;
  font-family: sans-serif;
  color: #fff;
  opacity: 0.5;
  transition: opacity 1500ms ease-out;
  will-change: opacity;

  @media (any-hover: none) { opacity: 1; }

  &.show,
  &:hover,
  &:focus,
  &:focus-within {
    opacity: 1;
    transition: opacity 200ms ease-in;
  }
}

br {
  display: block;
  content: '';
}

p {
  display: inline;
  line-height: 2.2em;
  padding: 0.5em;
  margin: 0;
  background-color: #333;
  border-radius: 0.3em;
  box-decoration-break: clone;
}

.error {
  font-weight: 900;
  color: #fff;
  background-color: #f30;
}

.link {
  display: inline-block;
  font-size: 1em;
  margin: 0.2em;
  padding: 0.3em 0.6em;
  line-height: 1.7em;
  font-style: normal;
  font-weight: 900;
  color: inherit;
  background: #000c;
  text-align: center;
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 0.3em;
  transition: color 1500ms ease-out,
    background-color 1500ms ease-out;
  will-change: color, background-color;

  &:hover,
  &:focus {
    color: #000e;
    background-color: #fff;
    transition: color 100ms ease-in,
      background-color 100ms ease-in;
  }

  &:active,
  &:target {
    color: #000;
    background-color: #fffa;
  }

  &::after { display: none; }
}

label,
.link-icon {
  display: inline-block;
  position: sticky;
  top: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1.2em;
  box-shadow: 0 0 0.5em 0 #000;
}

.link-icon {
  line-height: 1;
  aspect-ratio: 1/1;
  font-family: monospace;
  border-radius: 2em;
  background: #000;
}

label {
  font-weight: 900;
  font-family: monospace;
  cursor: sw-resize;
  color: #333;
  background-color: #fff;
  outline-offset: -3px;
  border: 1px solid currentColor;
  border-radius: 2px 2em 2em 2px;
  z-index: 1;

  &::before {
    content: '\2199\a0';
    display: inline-block;
  }
}

#flip-guide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;

  &:focus + label { outline: 2px solid #33f; }

  &:not(:checked) {
    & + label {
      cursor: ne-resize;

      &::before { content: '\2197\a0'; }
    }

    & ~ section { display: none; }
  }
}

#fallback {
  position: relative;
  width: 100%;
  height: 720px;
  margin: auto;
}
